<div class="modern-layout">
  <h1> {{ site.company }} </h1>

  <p>電話番号: {{ site.phone }}</p>
  <div>
    <h2>アクセス</h2>
    本店: {{ site.access }}
  </div>

  <div>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3256.8780184038674!2d133.69422007554545!3d35.284158951684574!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x35568741bd5853eb%3A0x1ae03abc28b372e1!2z5paw55Sw6I-T5a2Q6IiX!5e0!3m2!1sja!2sjp!4v1763279513777!5m2!1sja!2sjp"
      width="400"
      height="300"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
      >></iframe
    >
  </div>
</div>
