<head>
  <meta charset="UTF-8" />
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body class="legacy">
  {% include "_legacy/online_first_1.html" %}
</body>
