<html lang="ja">
<head>
<title>送料一覧</title>
<meta http-equiv="Content-Type" content="text/html; charset=x-sjis">
		<meta name="keywords" content="">
	</head>

<body bgcolor="#FFFFFF">
		<div align="center">
			<p class="contentsheader">ご注文</p>
			<p align="center">商品のご注文はこちらから</p>
			<p align="center">電子メール・電話・FAXで受付しております。<br>
				
				mail　<a href="mailto:tyuuji@po.harenet.ne.jp">tyuuji@po.harenet.ne.jp </a><a href="mailto:tyuuji@po.harenet.ne.jp"><br>
				</a>　　　　　　電話　0867-66-2116（9：00～17：00）<br>
				　　　　 fax  　0867-66-4336　　　　　　　　 <a href="mailto:tyuuji@po.harenet.ne.jp"><br>
				</a>まで、下記の内容をご連絡・ご依頼ください。</p>
			<p align="center">折り返し、商品代金、送料など、ご連絡を差し上げます.</p>
			<table width="90%" border="0" align="center" cellpadding="6" cellspacing="0">
				<tr height="80">
					<td rowspan="3" bgcolor="#ffffcc">ご希望商品（何個入り・数量）<br>
						(例、チーズケーキ　16個入り　2箱）<br>
						<br>
						<br>
					</td>
				</tr>
				<tr>
					
				</tr>
				<tr>
					
				</tr>
				<tr>
					<td bgcolor="#ffffcc" width="30%">お客様のお名前 <input name="mode" type="hidden" id="mode" value="confirm"></td>
				</tr>
				<tr>
					<td rowspan="2" bgcolor="#ffffcc">お客様のご住所</td>
				</tr>
				<tr></tr>
				<tr>
					<td bgcolor="#ffffcc">お客様の郵便番号</td>
				</tr>
				<tr>
					<td bgcolor="#ffffcc">お客様の電話番号</td>
				</tr>
				<tr>
					<td bgcolor="#ffffcc">お客様のメールアドレス</td>
				</tr>
				<tr>
					<td bgcolor="#ffffcc">お送り先が別の場合
						<table width="90%" border="0" align="center" cellpadding="6" cellspacing="0">
							<tr>
								<td bgcolor="#ccffff" width="30%">お送り先のお名前 <input name="mode" type="hidden" id="mode" value="confirm"></td>
							</tr>
							<tr>
								<td rowspan="2" bgcolor="#ccffff">お送り先のご住所</td>
							</tr>
							<tr></tr>
							<tr>
								<td bgcolor="#ccffff">お送り先の郵便番号</td>
							</tr>
							<tr>
								<td bgcolor="#ccffff">お送り先の電話番号</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td bgcolor="#ffffcc">
						<div align="left">
							その他連絡事項（のしなどが必要な場合）
							<p>
							</p>
							<p><br>
							</p>
						</div>
					</td>
				</tr>
				<tr>
					<td bgcolor="#ffffcc">
						<div align="center">
							お支払い方法は、<br>
							
							基本的に代金引き換えの<font color="#009900">クロネコヤマト宅急便</font>の<font color="#009900">コレクト便</font>を利用させて頂いております。<br>
							その他のお支払い方法（振込など）にも対応出来ますので、ご相談下さい。</div>
					</td>
				</tr>
			</table>
		</div>
		<div align="center">
			<table border="1" align="center">
				<tr height="36">
					<td height="36" bgcolor="#00cc66" bordercolor="#000000" colspan="4">
						<div align="center">
							新田菓子舗からのクロネコヤマト宅急便料金表<font color="#FFFFFF" size="2">（</font><font size="2" color="#ff6600">60サイズ</font><font color="#FFFFFF" size="2">の場合）　　　（2014/4/1料金）</font></div>
					</td>
				</tr>
				<tr>
					<td height="6" bordercolor="#000000" colspan="2" bgcolor="#686800">
						<div align="center">
							<font size="2" color="#FFFFFF">地域</font></div>
					</td>
					<td height="6" bgcolor="#3300ff">
						<div align="center">
							<font color="#FFFFFF" size="2">送料<br>
							</font><font size="1" color="#FFFFFF">（コレクト料金を含む）</font><font color="#FFFFFF" size="2"><br>
							</font></div>
					</td>
					<td height="6" bgcolor="#3300ff">
						<div align="center">
							<font size="2" color="white">一般送料</font></div>
					</td>
				</tr>
				<tr bgcolor="#FFFFFF">
					<td bgcolor="#ffccff" bordercolor="#FFCCCC" width="111">
						<div align="center">
							<font size="-1" color="#336633">北海道 </font></div>
					</td>
					<td bgcolor="#FFFFD0" bordercolor="#FFCCCC" valign="top" width="340"><font size="-1">北海道</font></td>
					<td bgcolor="#ccffff" bordercolor="#FFCCCC" valign="top">
						<div align="center">
							<font size="4" color="red">1922円</font></div>
					</td>
					<td bgcolor="#ccffff" bordercolor="#FFCCCC" valign="top">
						<div align="center">
							<font size="2" color="#660099">1598円 </font></div>
					</td>
				</tr>
				<tr>
					<td bgcolor="#ffccff" bordercolor="#FFCCC8" width="111">
						<div align="center">
							<div align="center">
								<font size="-1" color="#336633">東北</font></div>
						</div>
					</td>
					<td bgcolor="#FFFFD0" bordercolor="#FFCCC8" width="340"><font size="-1">岩手・秋田・青森・宮城・福島・山形</font></td>
					<td bgcolor="#ccffff" bordercolor="#FFCCC8">
						<div align="center">
							<font size="4" color="red">1699円</font></div>
					</td>
					<td bgcolor="#ccffff" bordercolor="#FFCCC8">
						<div align="center">
							<font size="2" color="#660099">1145円</font></div>
					</td>
				</tr>
				<tr>
					<td bordercolor="#FFCCC8" width="111" bgcolor="#ffccff">
						<div align="center">
							<font size="-1" color="#336633">信越</font><font size="-1"> </font></div>
					</td>
					<td bgcolor="#ffffd0" bordercolor="#FFCCC8" width="340"><font size="-1">新潟・長野</font></td>
					<td rowspan="2" bgcolor="#ccffff" bordercolor="#FFCCC8">
						<div align="center">
							<font size="4" color="red">1489円</font></div>
					</td>
					<td bgcolor="#ccffff" bordercolor="#FFCCC8" rowspan="2">
						<div align="center">
							<p><font size="2" color="#660099">918円</font></p>
						</div>
					</td>
				</tr>
				<tr>
					<td bordercolor="#FFCCC8" width="111" bgcolor="#ffccff">
						<div align="center">
							<p><font size="-1" color="#336633">関東</font></p>
						</div>
					</td>
					<td bgcolor="#ffffd0" bordercolor="#FFCCC8" width="340">
						<p><font size="-1">東京・神奈川・千葉・埼玉・茨城・群馬・山梨・栃木</font></p>
					</td>
				</tr>
				<tr>
					<td bgcolor="#ffccff" bordercolor="#FFCCC8" width="111">
						<div align="center">
							<font size="-1" color="#336633">北陸</font></div>
					</td>
					<td bgcolor="#FFFFD0" bordercolor="#FFCCC8" width="340"><font size="-1">石川・福井・富山</font></td>
					<td rowspan="2" bgcolor="#ccffff">
						<div align="center">
							<font size="4" color="red">1389円</font></div>
					</td>
					<td bgcolor="#ccffff" rowspan="2">
						<div align="center">
							<font size="2" color="#660099">799円</font></div>
					</td>
				</tr>
				<tr>
					<td bgcolor="#ffccff" bordercolor="#FFCCC8" width="111">
						<div align="center">
							<font size="-1" color="#336633">中部</font></div>
					</td>
					<td bgcolor="#FFFFD0" bordercolor="#FFCCC8" width="340"><font size="-1">愛知・静岡・岐阜・三重</font></td>
				</tr>
				<tr>
					<td bgcolor="#ffccff" bordercolor="#FFCCC8" height="3" width="111">
						<div align="center">
							<font size="-1" color="#336633">関西</font></div>
					</td>
					<td bgcolor="#FFFFD0" bordercolor="#FFCCC8" width="340"><font size="-1">大阪・兵庫・奈良・和歌山・滋賀・京都</font></td>
					<td rowspan="2" bgcolor="#ccffff" bordercolor="#FFCCC8">
						<div align="center">
							
							　<font size="4" color="red">1279円</font></div>
					</td>
					<td bgcolor="#ccffff" bordercolor="#FFCCC8" rowspan="2">
						<div align="center">
							<font size="2" color="#660099">691円</font></div>
					</td>
				</tr>
				<tr>
					<td rowspan="2" width="111" bgcolor="#ffccff">
						<div align="center">
							<font size="-1" color="#336633">中国</font></div>
					</td>
					<td bgcolor="#FFFFD0" bordercolor="#FFCCC8" width="340"><font size="-1">広島・島根・山口・鳥取</font></td>
				</tr>
				<tr>
					<td width="340" bgcolor="#ffffd0"><font size="-1">岡山</font></td>
					<td bgcolor="#ccffff">
						<div align="center">
							
							　<font size="4" color="red">1179円</font></div>
					</td>
					<td bgcolor="#ccffff">
						<div align="center">
							<font size="2" color="#660099">691円</font></div>
					</td>
				</tr>
				<tr>
					<td width="111" bgcolor="#ffccff">
						<div align="center">
							<font size="-1" color="#336633">四国</font></div>
					</td>
					<td bgcolor="#FFFFD0" bordercolor="#FFCCC8" width="340"><font size="-1">香川・愛媛・高知・徳島</font></td>
					<td bgcolor="#ccffff" bordercolor="#FFCCC8">
						<div align="center">
							<font size="4" color="red">1389円</font></div>
					</td>
					<td bgcolor="#ccffff" bordercolor="#FFCCC8">
						<div align="center">
							<font size="2" color="#660099">799円</font></div>
					</td>
				</tr>
				<tr>
					<td bgcolor="#ffccff" bordercolor="#FFCCC8" width="111">
						<div align="center">
							<font size="-1" color="#336633">九州</font></div>
					</td>
					<td bgcolor="#FFFFD0" bordercolor="#FFCCC8" width="340"><font size="-1">福岡・佐賀・大分・長崎・鹿児島・熊本・宮崎</font></td>
					<td bgcolor="#ccffff" bordercolor="#FFCCC8">
						<div align="center">
							
							　<font size="4" color="red">1279円</font></div>
					</td>
					<td bgcolor="#ccffff" bordercolor="#FFCCC8">
						<div align="center">
							<font size="2" color="#660099">691円</font></div>
					</td>
				</tr>
				<tr>
					<td bgcolor="#ffccff" bordercolor="#FFCCC8" width="111">
						<div align="center">
							<font size="-1" color="#336633">沖縄</font></div>
					</td>
					<td bgcolor="#FFFFD0" bordercolor="#FFCCC8" width="340"><font size="-1">沖縄</font></td>
					<td bgcolor="#ccffff" bordercolor="#FFCCC8">
						<div align="center">
							<font size="4" color="red">1799円</font></div>
					</td>
					<td bgcolor="#ccffff" bordercolor="#FFCCC8">
						<div align="center">
							<font size="2" color="#660099">1253円</font></div>
					</td>
				</tr>
				<tr height="20">
					<td height="20" bordercolor="#000000" colspan="2" bgcolor="#686800">
						<div align="center">
							<font size="2" color="#FFFFFF">地域</font></div>
					</td>
					<td height="20" bgcolor="#3300ff">
						<div align="center">
							<font color="#FFFFFF" size="2">送料</font></div>
					</td>
					<td bgcolor="#3300ff" height="20"></td>
				</tr>
				<tr height="80">
					<td colspan="4" height="80" bordercolor="#000000" bgcolor="#ffff33"><span class="impress-s">＊離島は別料金が加算される場合があります。別途お問い合わせ下さい。 </span><br>
						<span class="impress-s">＊伊豆諸島（大島・八丈島を除く）・小笠原諸島への御取り扱いは出来ません。 </span><br>
						<span class="impress-s">＊<font color="#ff6600">60サイズ</font>=縦+横+高さの合計が60ｃｍ以内2ｋｇ以内の荷物です . <br>
							　　　　　　　60サイズ以上の場合は別途ご連絡差し上げます。</span><br>
						<span class="impress-s">＊<font color="#3333ff">クール便対応商品</font>は<font color="#ff0033">+216円</font>を加算してください。</span></td>
				</tr>
			</table>
		</div>
	</body>
</html>